.vscode
contracts/.placeholder
test/.placeholder
app/src/contracts
build
.vs
.vscode
bin
node_modules
coverage/
.env
.node-xmlhttprequest-sync
coverage.json
flattened.sol


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/